/* brand variables */

@mixin h1-heading {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}

@mixin h2-heading {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}

@mixin sub-text {
    font-size: 12px;
    line-height: 18px;
}

/* layout variables */
%logo-font {
    @include h1-heading;
}

%something-went-wrong {
    @include h2-heading;
}

%market-sub-text {
    @include sub-text;
}
